* 
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a img { border: none;}
a { text-decoration: none;}

.header 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	overflow: hidden;
	background-color: #000;
  color: #ddd;
}

body 
{
  margin: 0;
  font-family: 'Lato';
  background-color: #070A13;
}

.light { font-weight: 200;}
.regular { font-weight: 400;}
.bold { font-weight: 700;}
.black { font-weight: 900;}

/* Style the content */
.aboutMe
{
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 10px;
}

/* Style the footer */
.footer 
{

  background-color: #000000;
  color: #ddd;
  font-size: small;
  padding: 10px;
  text-align: center;
}

video{
  /* simulating background size: cover*/
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper{
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;
  width: 100%;
  height: 500px;
  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: auto;
  flex: auto;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}
li {
  float: left;
  position: relative;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: larger;
}

li a:hover{
  background-color: rgb(99, 99, 99);
}