* 
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a img { border: none;}
a { text-decoration: none;}

.header 
{
	overflow: hidden;
	background-color: #000;
  color: #ddd;
	padding: 25px;

}

body 
{
  margin: 0;
  font-family: 'Lato';
  background-color: #070A13;
}

.light { font-weight: 200;}
.regular { font-weight: 400;}
.bold { font-weight: 700;}
.black { font-weight: 900;}

/* Style the top navigation bar */
.topnav 
{
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover 
{
  background-color: rgb(131, 131, 131);
  color: black;
}

/* Style the content */
.content 
{
  background-color: #ddd;
  padding: 10px;
}

/* Style the footer */
.footer 
{

  background-color: #000000;
  color: #ddd;
  font-size: small;
  padding: 10px;
  text-align: center;
}

video{
  /* simulating background size: cover*/
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper{
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;
  width: 100%;
  height: 500px;
  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}